<!--Main View-->

<div class="container-fluid">
  <div class="row mainContainerRow">
    <div class="col-12 mainContainerCol">
      <div class="row sectionOneRow">
        <div class="col-12 sectionOneCol">
          <div class="row menuBtnRow">
            <div class="col menuBtnCol">
              <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a [routerLink]="['/']" class="navbar-brand">
                    <img src="../assets/images/logo.png" width="80px" height="80px">
                  </a>
                </div>
                <!-- Collection of nav links, forms, and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse navbar-right">
                  <ul class="nav navbar-nav">
                    <li>
                      <a [routerLink]="['/home']">Home</a>
                    </li>
                    <li>
                      <a href="https://en.wikipedia.org/wiki/A_Song_of_Ice_and_Fire" target="_blank">Books</a>
                    </li>
                    <li>
                      <a href="https://awoiaf.westeros.org/index.php/List_of_houses" target="_blank">Houses</a>
                    </li>
                    <li>
                      <a href="https://en.wikipedia.org/wiki/List_of_A_Song_of_Ice_and_Fire_characters" target="_blank">Characters</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <div class="row sectionOneContentRow">
            <div class="col-12 sectionOneContentCol">
              <p id="mainHeading">
                A Song of Ice and Fire
              </p>
              <p id="mainSubHeading">
                Your ultimate resource for the series - A Song of Ice and Fire.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!--Section Two for larger screens-->
      <div class="row sectionTwoRowLarge">
        <div class="col-12 sectionTwoColLeftSection">
          <div class="row sectionTwoColLeftSectionHeadingRow">
            <div class="col-12 sectionTwoColLeftSectionHeadingCol">
              <p id="sectionTwoHeading">
                World of Ice And Fire
              </p>
            </div>
          </div>
          <div class="row sectionTwoColLeftSectionContentRow">
            <div class="col-12 sectionTwoColLeftSectionContentCol">
              <p id="sectionTwoContent">
                The song of ice and fire is a subject of a prophecy, and is eponymous for the A Song of Ice and Fire series. The song of
                ice and fire is said to belong to the prince that was promised, but its content remains unknown. In her visions
                at the House of the Undying, Daenerys Targaryen sees a man (Rhaegar Targaryen), and overhears him talking
                to a woman (Elia Martell) who is nursing a baby. "Aegon. What better name for a king... He is the prince
                that was promised, and his is the song of ice and fire". When Rhaegar's eyes meet Daenerys's, he says (either
                to her or Elia), "There must be one more. The dragon has three heads," and he picks up a silver harp and
                begins to play. However, neither Daenerys nor Ser Jorah Mormont know what "the song of ice and fire" means.
                It is implied that there is a connection between the song, the promise, and Daenerys herself. This is established
                more clearly when Maester Aemon identifies Daenerys as the "prince" that was promised. The phrase "ice and
                fire" is also mentioned in the Reeds' oath of loyalty to Bran Stark. The phrase "ice and fire" appears as
                an example of opposites. The phrase is also used to mean direction, and is used to refer to the world by
                Maester Yandel in his eponymous book The World of Ice and Fire. The phrase may also refer to a union of House
                Targaryen and House Stark. The Pact of Ice and Fire was an agreement made between Prince Jacaerys Velaryon
                and Lord Cregan Stark during the Dance of the Dragons civil war, that a royal princess should marry into
                House Stark in exchange for their support of the blacks, but it was never fulfilled.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 sectionTwoColRightSection">
          <div class="row sectionTwoColRightSectionImgRow">
            <div class="col-12 sectionTwoColRightSectionImgCol"></div>
          </div>
        </div>
      </div>

      <!--Section Two fo smaller screens-->
      <div class="row sectionTwoRowSmall">
        <div class="col-12 sectionTwoColUpperSection">
          <div class="row sectionTwoColUpperSectionHeadingRow">
            <div class="col-12 sectionTwoColUpperSectionHeadingCol">
              <p id="sectionTwoHeading">
                World of Ice And Fire
              </p>
            </div>
          </div>
          <div class="row sectionTwoColUpperSectionContentRow">
            <div class="col-12 sectionTwoColLeftSectionContentCol">
              <p id="sectionTwoContent">
                The song of ice and fire is a subject of a prophecy, and is eponymous for the A Song of Ice and Fire series. The song of
                ice and fire is said to belong to the prince that was promised, but its content remains unknown. In her visions
                at the House of the Undying, Daenerys Targaryen sees a man (Rhaegar Targaryen), and overhears him talking
                to a woman (Elia Martell) who is nursing a baby. "Aegon. What better name for a king... He is the prince
                that was promised, and his is the song of ice and fire". When Rhaegar's eyes meet Daenerys's, he says (either
                to her or Elia), "There must be one more. The dragon has three heads," and he picks up a silver harp and
                begins to play. However, neither Daenerys nor Ser Jorah Mormont know what "the song of ice and fire" means.
                It is implied that there is a connection between the song, the promise, and Daenerys herself. This is established
                more clearly when Maester Aemon identifies Daenerys as the "prince" that was promised.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 sectionTwoColLowerSection">
          <div class="row sectionTwoColLowerSectionImgRow">
            <div class="col-12 sectionTwoColLowerSectionImgCol"></div>
          </div>
        </div>
      </div>

      <!--Section Three-->
      <div class="row sectionThree">
        <div class="col-12 sectionThreeCol">
          <div class="Description">
            <p id="quotes">
              “Fear cuts deeper than swords.”
            </p>
            <p id="author">
              ― George R.R. Martin
            </p>
          </div>
        </div>
      </div>

      <!--Section Four-->
      <div class="row sectionFour">
        <div class="col-12 sectionFourHeadingCol">
          <p id="sectionFourHeading">
            Houses
          </p>
        </div>
        <div class="col-12 sectionFourContentCol">
          <div class="row sectionFourUpperRow">
            <div class="col-md-12 sectionFourFirstCol">
              <div class="sectionFourFirstColImg">
                <img src="../assets/images/baratheon.png" alt="Baratheon" width="200px" height="200px">
              </div>
              <div class="sectionFourFirstColContent">
                <p>
                  House Baratheon
                </p>
              </div>
            </div>
            <div class="col-md-12 sectionFourSecondCol">
              <div class="sectionFourSecondColImg">
                <img src="../assets/images/greyjoy.png" alt="Greyjoy" width="200px" height="200px">
              </div>
              <div class="sectionFourSecondColContent">
                <p>
                  House Greyjoy
                </p>
              </div>
            </div>
          </div>
          <div class="row sectionFourLowerRow">
            <div class="col-md-12 sectionFourThirdCol">
              <div class="sectionFourThirdColImg">
                <img src="../assets/images/lannister.png" alt="Lannister" width="200px" height="200px">
              </div>
              <div class="sectionFourThirdColContent">
                <p>
                  House Lannister
                </p>
              </div>
            </div>
            <div class="col-md-12 sectionFourFourthCol">
              <div class="sectionFourFourthColImg">
                <img src="../assets/images/tyrell.png" alt="Tyrell" width="200px" height="200px">
              </div>
              <div class="sectionFourFourthColContent">
                <p>
                  House Tyrell
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Section Five-->
      <div class="row sectionFive">
        <div class="col-12 sectionFiveHeadingCol">
          <p id="sectionFiveHeading">
            People
          </p>
        </div>
        <div class="col-12 sectionFiveContentCol">
          <div class="row sectionFiveMainRow">
            <div class="col-12 sectionFiveMainCol">
              <div class="sectionFiveContentRow">
                <div class="col-12 sectionFiveLeftCol">
                  <p id="sectionFiveLeftColName">
                    Daenerys
                  </p>
                </div>
                <div class="col-12 sectionFiveRightCol">
                  <div class="sectionFiveRightColFirstRow">
                    <div class="sectionFiveFirstRowFirstCol">
                      <p id="sectionFiveFirstRowFirstColName">
                        Bran
                      </p>
                    </div>
                    <div class="sectionFiveFirstRowSecondCol">
                      <p id="sectionFiveFirstRowSecondColName">
                        Ned
                      </p>
                    </div>
                  </div>
                  <div class="sectionFiveRightColSecondRow">
                    <div class="sectionFiveRightColSecondRowCol">
                      <p id="sectionFiveRightColSecondRowColName">
                        Tyrion
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Section Six-->
      <div class="footer">
        <p id="footerText">
          Made by
          <a href="https://github.com/StammeringMan" target="_blank">Abhinav</a>
        </p>
      </div>
    </div>
  </div>
</div>