
.container{
    background-color: white;
}
.upperCol{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: #586573;

}

.bookInfoCol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}